<p>Bienvenido {{nombre}}</p>
<p>Edad: {{edad}}</p>
<p>Telefono: {{telefono}}</p>
<p>Email: {{email}}</p>
<p>Dirección: {{direccion}}</p>
<img src={{foto}} width="50" height="50">
<form action="/logout" method="GET">
    <input type="submit" value="Desloguearse">
</form>
<br>

<form>
    <label for="title">
        {{titulo}}
    </label>
    <input id="title" type = "text" name="title">
    <br>
    <label for="price">
        {{titulo2}}
    </label>
    <input id="price" type = "text" name="price">
    <br>
    <label for="thumbnail">
        {{titulo3}}
    </label>
    <input id="thumbnail" type = "text" name="thumbnail">
    <input id="btn" type="button" value="Subir">
    <br>
</form>
{{!-- 
 {{#if productos}} --}}
<form action="/carrito" method="POST">
  <ul id="ulo">
  {{#each productos}}
    <li>{{title}} ${{precio}} Stock disponible: <b class="derWarenberstand" >{{stock}}</b><input hidden type="number" value={{stock}} name="stock"> <img src={{foto}} width="70" height="70"> </li><input class="dieQuantität" type="number" placeholder="Cantidad" name="cantidad">
  {{/each}}
  </ul>
  <input type="submit" value="Confirmar carrito">
</form>
    <br>
  <div> 
      <label>CHAT</label><br>
      <input type="text" placeholder="E-mail" id="mail">
      <input type="text" placeholder="Nombre" id="nombreDeUsuario"><br>
      <input type="text" placeholder="Apellido" id="apellidoDeUsuario"><br>
      <input type="number" placeholder="Edad" id="edadDeUsuario"><br>
      <input type="text" placeholder="Alias" id="aliasDeUsuario"><br>
      <input type="text" placeholder="Avatar" id="avatarDeUsuario"><br>
      <input type="button" value="Log In" id="logearse">
      <ul id="contenedorDeMensajes">
          {{#each mensajes}}
            <li><p class="azulNegrita" style="color: blue; font-weight: bold; display: inline-block;">{{author}}</p> <p id="normalMarron" style="color: brown; display: inline-block;">{{id}}</p> <p id="italicVerde" style="color: green; font-style: italic; display: inline-block;" >{{text}}</p></li>
            
          {{/each}}
      </ul>
      <input type="text" placeholder="Mensaje" id="barraDeMensaje">
      <input type="button" value="Enviar" id="botonDeEnviar">
  </div>

    
{{!-- <form action="/login" method="POST">
    <p>Inicio de sesión</p>
    <input type="text" placeholder="Username" name="nombre">
    <input type="password" placeholder="Password" name="contraseña">
    <input type="submit" value="Ir al Login">
</form> --}}